{{#partial "navbar"}}
    <li class="nav-item fs-5"><a class="nav-link" href="/">Home</a></li>
    <li class="nav-item fs-5"><a class="nav-link" href="/engineers/new">Register Engineer</a></li>
    <li class="nav-item fs-5"><a class="nav-link" href="/sites/new">Create Site</a></li>
    <li class="nav-item fs-5"><a class="nav-link" href="/sites">List of Sites</a></li>
    <li class="nav-item fs-5 active"><a class="nav-link" href="/engineer">List of Engineers</a></li>
{{/partial}}

{{#partial "content"}}
    <div class="text-center m-5 fs-2 bg-primary">
        List of Heroes
    </div>
    <div class="text-center">
        <div class="row">
            <div class="col-md-4">
                <h5>Name</h5>
                <p>{{engineer.name}}</p>
            </div>
            <div class="col-md-4">
                <h5>Age</h5>
                <p>{{engineer.email}}</p>
            </div>
            <div class="col-md-4">
                <h5>Power</h5>
                <p>{{engineer.sitename}}</p>
            </div>
        </div>
        <a class="btn btn-outline-primary" href="/engineers/{{engineers.engineersID}}/update">Update</a>
        <a class="btn btn-outline-danger" href="/engineers/{{engineers.engineersID}}/remove">Delete</a>
    </div>
{{/partial}}

{{> layout.hbs}}
